<center>
    <div class="header">{{employeesAddCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

    <form ng-submit="employeesAddCtrl.employeesAddSubmit()" novalidate name="employeesAddCtrl.form" autocomplete="off">
        <div class="header">{{employeesAddCtrl.language.newrec}}</div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <select required class="form-control select"
                            ng-model="employeesAddCtrl.selectedDepartment"
                            ng-options="departmentsOption.name for departmentsOption in employeesAddCtrl.departmentsOptions
							track by departmentsOption.name"
                            ng-change="employeesAddCtrl.updateChangeDepartment(employeesAddCtrl.selectedDepartment)">
                    </select>

                    <div ng-show="employeesAddCtrl.errorDepartment" class="valid">Value required</div>
                </td>
            </tr>	
			
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{employeesAddCtrl.language.name}} name="name"
                           ng-model="employeesAddCtrl.name">

                    <div ng-if="employeesAddCtrl.form.$submitted">
                        <div ng-show="employeesAddCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{employeesAddCtrl.language.address}} name="address"
                           ng-model="employeesAddCtrl.address">

                    <div ng-if="employeesAddCtrl.form.$submitted">
                        <div ng-show="employeesAddCtrl.form.address.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{employeesAddCtrl.language.phone}} name="phone"
                           ng-model="employeesAddCtrl.phone">

                    <div ng-if="employeesAddCtrl.form.$submitted">
                        <div ng-show="employeesAddCtrl.form.phone.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{employeesAddCtrl.language.description}} name="description"
                           ng-model="employeesAddCtrl.description">

                    <div ng-if="employeesAddCtrl.form.$submitted">
                        <div ng-show="employeesAddCtrl.form.description.$error.required" class="valid">Value required
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">{{employeesAddCtrl.language.submit}}</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="employeesAddCtrl.employeesAddBack()">{{employeesAddCtrl.language.back}}</button>
    </form>
	<div class="blanker"></div>
</center>