<center>
    <div class="header">{{employeesCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="employeesCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="employeesCtrl.goToBack()">
        {{employeesCtrl.language.employee}} ({{employeesFilter.length}} / {{employeesCtrl.employees.length}})
    </div>

    <div>
        <input type="text" class="form-control input"
               placeholder={{employeesCtrl.language.find}}
               ng-model="employeesCtrl.query.name">
    </div>

    <table class="table table-striped input">
        <tr ng-repeat="item in filteredEmployees | orderBy:employeesCtrl.sort:employeesCtrl.rev |
			filter:employeesCtrl.query as employeesFilter track by $index"
            ng-click="employeesCtrl.employeesEditForm(item)">

            <td class="input">
                <div class="name-div">
                    {{item.name}} <br>
                    {{employeesCtrl.language.total}}: {{item.sum | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr class="fix-hr">
		<span class="label label-primary per-page">{{employeesCtrl.language.records}}
			<input class="per-page-input" type="text" ng-model="numPerPage" value={{numPerPage}}>
		</span>

    <div>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true"></pagination>
    </div>

    <button class="btn btn-primary button" ng-click="employeesCtrl.employeesAdd()">{{employeesCtrl.language.add}}</button>&nbsp
    <button class="btn btn-primary button" ng-click="employeesCtrl.employeesBack()" scroll-here>{{employeesCtrl.language.back}}</button>
    <div class="blanker"></div>
</center>