<center>
	<div class="header">{{employeesDialogCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<br>
		<span class="dialog">
				{{employeesDialogCtrl.language.conform}} {{employeesDialogCtrl.name}}?
		</span>
	<br><br>
	<hr>
	<br>
	<button class="btn btn-primary button" ng-click="employeesDialogCtrl.employeesDelete()">{{employeesDialogCtrl.language.yes}}</button>&nbsp
	<button class="btn btn-primary button" ng-click="employeesDialogCtrl.employeesEditBack()">{{employeesDialogCtrl.language.no}}</button>
	<div class="blanker"></div>
</center>