<center>
    <div class="header">{{outputsEditCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>
	
	<form ng-submit="outputsEditCtrl.outputsSubmit()" novalidate name="outputsEditCtrl.form">
		<div class="header" ng-click="outputsEditCtrl.goInputs()">ID: {{outputsEditCtrl.invoiceID}}</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="ID:">
				</td>
				<td class="width100">
					<input type="text" class="form-control readonly" required readonly
						   placeholder="ID" name="invoiceID"
						   ng-model="outputsEditCtrl.invoiceID">

					<div ng-if="outputsEditCtrl.form.$submitted">
						<div ng-show="outputsEditCtrl.form.invoiceID.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.date}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   placeholder="Transaction date" name="date"
						   ng-model="outputsEditCtrl.date">

					<div ng-if="outputsEditCtrl.form.$submitted">
						<div ng-show="outputsEditCtrl.form.date.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.project}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.project">
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.department}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   placeholder="Transaction date" name="department"
						   ng-model="outputsEditCtrl.department">

					<div ng-if="outputsEditCtrl.form.$submitted">
						<div ng-show="outputsEditCtrl.form.department.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.employee}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.employee">
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.resource}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.product">
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.price}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.price">
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.quantity}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.quantity">
				</td>
			</tr>
					
			<tr>
				<td>
					<textarea rows=5 class="form-control readonly caption"
						   readonly>{{outputsEditCtrl.language.description}}:
				    </textarea>
				</td>
				<td>
					<textarea rows=5 type="text" class="form-control readonly" required readonly
                              placeholder="Description" name="description"
                              ng-model="outputsEditCtrl.description">
					</textarea>

					<div ng-if="outputsEditCtrl.form.$submitted">
						<div ng-show="outputsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{outputsEditCtrl.language.total}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="outputsEditCtrl.total">
				</td>
			</tr>
		</table>

		<input type="submit" class="btn btn-primary button" value={{outputsEditCtrl.language.submit}}>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="outputsEditCtrl.outputsDialog()">{{outputsEditCtrl.language.delete}}</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="outputsEditCtrl.outputsEditBack()">{{outputsEditCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>