<center>
    <div class="header">{{outputsCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="outputsCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="outputsCtrl.goToBack()">
        {{outputsCtrl.language.outputs}} ({{outputsFilter.length}} / {{outputsCtrl.outputs.length}})
    </div>

    <div>
        <input type="text" class="form-control input"
               placeholder={{outputsCtrl.language.find}}
               ng-model="outputsCtrl.query.invoiceID">
    </div>

    <table class="table table-striped input">
        <tr ng-repeat="item in filteredOutputs | orderBy:outputsCtrl.sort:outputsCtrl.rev |
            filter:outputsCtrl.query as outputsFilter track by $index"
            ng-click="outputsCtrl.outputsEditForm(item)">

            <td class="input">
                <div>
                <div>
                    ID: {{item.invoiceID}} <br>
                    {{outputsCtrl.language.date}}: {{item.date}} <br>
                    {{item.project}} - {{item.department}} - {{item.employee}} <br>
                    {{outputsCtrl.language.resource}}: {{item.product}} <br>
                    {{outputsCtrl.language.description}}: {{item.description}} <br>
                    {{outputsCtrl.language.total}}: {{item.total | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr class="fix-hr">
		<span class="label label-primary per-page">{{outputsCtrl.language.records}}
			<input class="per-page-input" type="text" ng-model="numPerPage" value={{numPerPage}}>
		</span>

    <div>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true"></pagination>
    </div>

    <button class="btn btn-primary button" ng-click="outputsCtrl.outputsAdd()">{{outputsCtrl.language.add}}</button>&nbsp
    <button class="btn btn-primary button" ng-click="outputsCtrl.outputsBack()" scroll-here>{{outputsCtrl.language.back}}</button>
    <div class="blanker"></div>
</center>