<center>
	<div class="header">{{outputsDialogCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<br>
		<span class="dialog">
				{{outputsDialogCtrl.language.conform}} ID: {{outputsDialogCtrl.invoiceID}}?
		</span>
	<br><br>
	<hr>
	<br>		
	<button class="btn btn-primary button" ng-click="outputsDialogCtrl.outputsDelete()">{{outputsDialogCtrl.language.yes}}</button>&nbsp
	<button class="btn btn-primary button" ng-click="outputsDialogCtrl.outputsEditBack()">{{outputsDialogCtrl.language.no}}</button>
	<div class="blanker"></div>
</center>