<center>
	<div class="header">{{goodsAddCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<form ng-submit="goodsAddCtrl.goodsAddSubmit()" novalidate name="goodsAddCtrl.form" autocomplete="off">
		<div class="header">{{goodsAddCtrl.language.newrec}}</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{goodsAddCtrl.language.name}} name="name"
						   ng-model="goodsAddCtrl.name">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{goodsAddCtrl.language.price}} name="price"
						   ng-model="goodsAddCtrl.price">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.price.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{goodsAddCtrl.language.description}} name="description"
						   ng-model="goodsAddCtrl.description">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">{{goodsAddCtrl.language.submit}}</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="goodsAddCtrl.goodsAddBack()">{{goodsAddCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>