<center>
	<div class="header">{{departmentsEditCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<form ng-submit="departmentsEditCtrl.departmentsSubmit()" novalidate name="departmentsEditCtrl.form">
		<div class="header">{{departmentsEditCtrl.name}}&nbsp</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<div class="form-control readonly">{{departmentsEditCtrl.language.department}}: {{departmentsEditCtrl.name}}</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{departmentsEditCtrl.language.address}} name="address"
						   ng-model="departmentsEditCtrl.address">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.address.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{departmentsEditCtrl.language.phone}} name="phone"
						   ng-model="departmentsEditCtrl.phone">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.phone.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{departmentsEditCtrl.language.description}} name="description"
						   ng-model="departmentsEditCtrl.description">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input readonly type="text" class="form-control readonly"
						   placeholder="Total"
						   ng-model="departmentsEditCtrl.total">
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">{{departmentsEditCtrl.language.submit}}</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="departmentsEditCtrl.departmentsDialog()">{{departmentsEditCtrl.language.delete}}</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="departmentsEditCtrl.departmentsEditBack()">{{departmentsEditCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>