<center>
    <div class="header">{{departmentsCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="departmentsCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="departmentsCtrl.goToBack()">
        {{departmentsCtrl.language.departments}} ({{departmentsFilter.length}} / {{departmentsCtrl.departments.length}})
    </div>

    <div>
        <input type="text" class="form-control input"
               placeholder={{departmentsCtrl.language.find}}
               ng-model="departmentsCtrl.query.name">
    </div>

    <table class="table table-striped input">
        <tr ng-repeat="item in filteredDepartments | orderBy:departmentsCtrl.sort:departmentsCtrl.rev |
			filter:departmentsCtrl.query as departmentsFilter track by $index"
            ng-click="departmentsCtrl.departmentsEditForm(item)">

            <td class="input">
                <div class="name-div">
                    {{item.name}} <br>
                    {{departmentsCtrl.language.total}}: {{item.sum | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr class="fix-hr">
		<span class="label label-primary per-page">{{departmentsCtrl.language.records}}
			<input class="per-page-input" type="text" ng-model="numPerPage" value={{numPerPage}}>
		</span>

    <div>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true"></pagination>
    </div>

    <button class="btn btn-primary button" ng-click="departmentsCtrl.departmentsAdd()">{{departmentsCtrl.language.add}}</button>&nbsp
    <button class="btn btn-primary button" ng-click="departmentsCtrl.departmentsBack()" scroll-here>{{departmentsCtrl.language.back}}</button>
    <div class="blanker"></div>
</center>