<center>
	<div class="header">Budget</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<form ng-submit="departmentsEditCtrl.departmentsSubmit()" novalidate name="departmentsEditCtrl.form">
		<div class="header">{{departmentsEditCtrl.name}}&nbsp</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Name" name="name"
						   ng-model="departmentsEditCtrl.name">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Address" name="address"
						   ng-model="departmentsEditCtrl.address">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.address.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Phone" name="phone"
						   ng-model="departmentsEditCtrl.phone">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.phone.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Description" name="description"
						   ng-model="departmentsEditCtrl.description">

					<div ng-if="departmentsEditCtrl.form.$submitted">
						<div ng-show="departmentsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input readonly type="text" class="form-control readonly"
						   placeholder="Category"
						   ng-model="departmentsEditCtrl.total">
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="departmentsEditCtrl.departmentsDialog()">Delete</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="departmentsEditCtrl.departmentsEditBack()">Back</button>
	</form>
	<div class="blanker"></div>
</center>