<center>
    <div class="header">{{departmentsAddCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

    <form ng-submit="departmentsAddCtrl.departmentsAddSubmit()" novalidate name="departmentsAddCtrl.form" autocomplete="off">
        <div class="header">{{departmentsAddCtrl.language.newrec}}</div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{departmentsAddCtrl.language.name}} name="name"
                           ng-model="departmentsAddCtrl.name">

                    <div ng-if="departmentsAddCtrl.form.$submitted">
                        <div ng-show="departmentsAddCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{departmentsAddCtrl.language.address}} name="address"
                           ng-model="departmentsAddCtrl.address">

                    <div ng-if="departmentsAddCtrl.form.$submitted">
                        <div ng-show="departmentsAddCtrl.form.address.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{departmentsAddCtrl.language.phone}} name="phone"
                           ng-model="departmentsAddCtrl.phone">

                    <div ng-if="departmentsAddCtrl.form.$submitted">
                        <div ng-show="departmentsAddCtrl.form.phone.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder={{departmentsAddCtrl.language.description}} name="description"
                           ng-model="departmentsAddCtrl.description">

                    <div ng-if="departmentsAddCtrl.form.$submitted">
                        <div ng-show="departmentsAddCtrl.form.description.$error.required" class="valid">Value required
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">{{departmentsAddCtrl.language.submit}}</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="departmentsAddCtrl.departmentsAddBack()">{{departmentsAddCtrl.language.back}}</button>
    </form>
	<div class="blanker"></div>
</center>