<center>
	<div class="header">{{usersDialogCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo" ng-click="usersDialogCtrl.goToBack()">
	<hr>
	<br>
		<span class="dialog">
				{{usersDialogCtrl.language.conform}} {{usersDialogCtrl.name}}?
			</strong>
		</span>
	<br><br>
	<hr>
	<br><br>
	<button class="btn btn-primary button" ng-click="usersDialogCtrl.usersDelete()">{{usersDialogCtrl.language.yes}}</button>&nbsp
	<button class="btn btn-primary button" ng-click="usersDialogCtrl.usersEditBack()">{{usersDialogCtrl.language.no}}</button>
	<br><br>
</center>