<center>
    <div class="header">{{inputsAddCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

	<form ng-submit="inputsAddCtrl.inputsAddSubmit()" novalidate name="inputsAddCtrl.form" autocomplete="off">
		<div class="header">
			{{inputsAddCtrl.language.newrec}}
		</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="ID:">
				</td>
				<td class="width100">
					<input type="text" class="form-control input" required digits-only
						   placeholder="ID" name="invoiceID"
						   ng-model="inputsAddCtrl.invoiceID">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.invoiceID.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.date}}:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Date" name="date"
						   ng-model="inputsAddCtrl.date">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.date.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="{{inputsAddCtrl.language.project}}:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedProject"
                            ng-options="projectsOption.name for projectsOption in inputsAddCtrl.projectsOptions
							track by projectsOption.name"
                            ng-change="inputsAddCtrl.updateChangeProject(inputsAddCtrl.selectedProject)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorProject" class="valid">Value required</div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="{{inputsAddCtrl.language.department}}:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedDepartment"
                            ng-options="departmentsOption.name for departmentsOption in inputsAddCtrl.departmentsOptions
							track by departmentsOption.name"
                            ng-change="inputsAddCtrl.updateChangeDepartment(inputsAddCtrl.selectedDepartment)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorDepartment" class="valid">Value required</div>
                </td>
            </tr>	
	
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="{{inputsAddCtrl.language.employee}}:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedEmployee"
                            ng-options="employeesOption.name for employeesOption in inputsAddCtrl.employeesOptions
							track by employeesOption.name"
                            ng-change="inputsAddCtrl.updateChangeEmployee(inputsAddCtrl.selectedEmployee)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorEmployee" class="valid">Value required</div>
                </td>
            </tr>
						
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.resource}}:">
				</td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedProduct"
                            ng-options="productsOption.name for productsOption in inputsAddCtrl.productsOptions
							track by productsOption.name"
                            ng-change="inputsAddCtrl.updateChangeProduct(inputsAddCtrl.selectedProduct)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorProduct" class="valid">Value required</div>
                </td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.price}}:">
				</td>
				<td>
					<input type="text" class="form-control input" required digits-only
						   placeholder={{inputsAddCtrl.language.price}} name="price"
						   ng-model="inputsAddCtrl.price"
						   ng-change="inputsAddCtrl.updateChange()">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.price.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.quantity}}:">
				</td>
				<td>
					<input type="text" class="form-control input" required digits-only
						   placeholder={{inputsAddCtrl.language.quantity}} name="quantity"
						   ng-model="inputsAddCtrl.quantity"
						   ng-change="inputsAddCtrl.updateChange()">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.quantity.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.description}}:">
				</td>
				<td>
					<textarea rows=5 type="text" class="form-control input" required
                              placeholder={{inputsAddCtrl.language.description}} name="description"
                              ng-model="inputsAddCtrl.description">
					</textarea>
 
					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsAddCtrl.language.total}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   placeholder="Total" name="total"
						   ng-model="inputsAddCtrl.total">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.total.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>			
		</table>

		<button type="submit" class="btn btn-primary button">{{inputsAddCtrl.language.submit}}</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="inputsAddCtrl.inputsAddBack()">{{inputsAddCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>