<center>
    <div class="header">Budget</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

	<form ng-submit="inputsAddCtrl.inputsAddSubmit()" novalidate name="inputsAddCtrl.form">
		<div class="header">
			New record
		</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="ID:">
				</td>
				<td class="width100">
					<input type="text" class="form-control input" required digits-only
						   placeholder="ID" name="number"
						   ng-model="inputsAddCtrl.number">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.number.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Project:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedProject"
                            ng-options="projectsOption.name for projectsOption in inputsAddCtrl.projectsOptions
							track by projectsOption.name"
                            ng-change="inputsAddCtrl.updateChangeProject(inputsAddCtrl.selectedProject)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorProject" class="valid">Value required</div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Department:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedDepartment"
                            ng-options="departmentsOption.name for departmentsOption in inputsAddCtrl.departmentsOptions
							track by departmentsOption.name"
                            ng-change="inputsAddCtrl.updateChangeDepartment(inputsAddCtrl.selectedDepartment)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorDepartment" class="valid">Value required</div>
                </td>
            </tr>	
	
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Employee:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedEmployee"
                            ng-options="employeesOption.name for employeesOption in inputsAddCtrl.employeesOptions
							track by employeesOption.name"
                            ng-change="inputsAddCtrl.updateChangeEmployee(inputsAddCtrl.selectedEmployee)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorEmployee" class="valid">Value required</div>
                </td>
            </tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Date:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Date" name="date"
						   ng-model="inputsAddCtrl.date">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.date.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Description:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Description" name="description"
						   ng-model="inputsAddCtrl.description">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Resource:">
				</td>
                <td>
                    <select required class="form-control select"
                            ng-model="inputsAddCtrl.selectedProduct"
                            ng-options="productsOption.name for productsOption in inputsAddCtrl.productsOptions
							track by productsOption.name"
                            ng-change="inputsAddCtrl.updateChangeProduct(inputsAddCtrl.selectedProduct)">
                    </select>

                    <div ng-show="inputsAddCtrl.errorCommodity" class="valid">Value required</div>
                </td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Price:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Price" name="price"
						   ng-model="inputsAddCtrl.price">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.price.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Quantity:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Quantity" name="quantity"
						   ng-model="inputsAddCtrl.quantity">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.quantity.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Total:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Total" name="total"
						   ng-model="inputsAddCtrl.total">

					<div ng-if="inputsAddCtrl.form.$submitted">
						<div ng-show="inputsAddCtrl.form.total.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
		</table>

		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="inputsAddCtrl.inputsAddBack()">Back</button>
	</form>
	<div class="blanker"></div>
</center>