<center>
    <div class="header">{{inputsEditCtrl.language.title}}</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>
	
	<form ng-submit="inputsEditCtrl.inputsSubmit()" novalidate name="inputsEditCtrl.form">
		<div class="header" ng-click="inputsEditCtrl.goInputs()">ID: {{inputsEditCtrl.invoiceID}}</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="ID:">
				</td>
				<td class="width100">
					<input type="text" class="form-control readonly" required readonly
						   placeholder="ID" name="invoiceID"
						   ng-model="inputsEditCtrl.invoiceID">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.invoiceID.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.date}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   placeholder="Transaction date" name="date"
						   ng-model="inputsEditCtrl.date">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.date.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.project}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.project">
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.department}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   placeholder="Transaction date" name="department"
						   ng-model="inputsEditCtrl.department">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.department.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.employee}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.employee">
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.resource}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.product">
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.price}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.price">
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.quantity}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.quantity">
				</td>
			</tr>
					
			<tr>
				<td>
					<textarea rows=5 class="form-control readonly caption"
						   readonly>{{inputsEditCtrl.language.description}}:
				    </textarea>
				</td>
				<td>
					<textarea rows=5 type="text" class="form-control readonly" required readonly
                              placeholder="Description" name="description"
                              ng-model="inputsEditCtrl.description">
					</textarea>

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="{{inputsEditCtrl.language.total}}:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.total">
				</td>
			</tr>
		</table>

		<input type="submit" class="btn btn-primary button" value={{inputsEditCtrl.language.submit}}>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="inputsEditCtrl.inputsDialog()">{{inputsEditCtrl.language.delete}}</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="inputsEditCtrl.inputsEditBack()">{{inputsEditCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>