<center>
	<div class="header">{{projectsEditCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<form ng-submit="projectsEditCtrl.projectsSubmit()" novalidate name="projectsEditCtrl.form">
		<div class="header">{{projectsEditCtrl.name}}&nbsp</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<div class="form-control readonly">{{projectsEditCtrl.language.project}}: {{projectsEditCtrl.name}}</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{projectsEditCtrl.language.address}} name="address"
						   ng-model="projectsEditCtrl.address">

					<div ng-if="projectsEditCtrl.form.$submitted">
						<div ng-show="projectsEditCtrl.form.address.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{projectsEditCtrl.language.phone}} name="phone"
						   ng-model="projectsEditCtrl.phone">

					<div ng-if="projectsEditCtrl.form.$submitted">
						<div ng-show="projectsEditCtrl.form.phone.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder={{projectsEditCtrl.language.description}} name="description"
						   ng-model="projectsEditCtrl.description">

					<div ng-if="projectsEditCtrl.form.$submitted">
						<div ng-show="projectsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="form-control readonly">{{projectsEditCtrl.language.total}}: {{projectsEditCtrl.total}}</div>
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">{{projectsEditCtrl.language.submit}}</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="projectsEditCtrl.projectsDialog()">{{projectsEditCtrl.language.delete}}</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="projectsEditCtrl.projectsEditBack()">{{projectsEditCtrl.language.back}}</button>
	</form>
	<div class="blanker"></div>
</center>