<center>
	<div class="header">{{projectsDialogCtrl.language.title}}</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<br>
		<span class="dialog">
				{{projectsDialogCtrl.language.conform}} {{projectsDialogCtrl.name}}?
		</span>
	<br><br>
	<hr>
	<br>
	<button class="btn btn-primary button" ng-click="projectsDialogCtrl.projectsDelete()">{{projectsDialogCtrl.language.yes}}</button>&nbsp
	<button class="btn btn-primary button" ng-click="projectsDialogCtrl.projectsEditBack()">{{projectsDialogCtrl.language.no}}</button>
	<div class="blanker"></div>
</center>