<center>
    <div>
		<div class="header">{{mainCtrl.language.title}}</div>
        <br><br>
        <img ng-src="logo.jpg" class="logo">
        <br>
		<div>
            <hr>
			<div ng-click="mainCtrl.go('store')" class="items">{{mainCtrl.language.assets}}</div><br>
            <div ng-click="mainCtrl.go('search')" class="items">{{mainCtrl.language.reports}}</div><br>
			<div ng-click="mainCtrl.go('goods')" class="items">{{mainCtrl.language.resources}}</div>	
			<hr>
			
            <div ng-click="mainCtrl.go('projects')" class="items">{{mainCtrl.language.projects}}</div><br>
            <div ng-click="mainCtrl.go('departments')" class="items">{{mainCtrl.language.departments}}</div><br>
            <div ng-click="mainCtrl.go('employees')" class="items">{{mainCtrl.language.employees}}</div>
			<hr>
			
            <div ng-click="mainCtrl.go('outputs')" class="items">{{mainCtrl.language.outputs}}</div><br>
            <div ng-click="mainCtrl.go('inputs')" class="items">{{mainCtrl.language.inputs}}</div><br>
		    <div ng-click="mainCtrl.go('config')" class="items">{{mainCtrl.language.config}}</div>
			<hr>
			<div ng-click="mainCtrl.go('users')" class="items">{{mainCtrl.language.users}}</div><br>
            <div ng-click="mainCtrl.go('audit')" class="items">{{mainCtrl.language.audit}}</div><br>
            <div ng-click="mainCtrl.go('login')" class="items">{{mainCtrl.language.logout}}</div>
<!-- 
            <div ng-click="mainCtrl.go('store')" class="items">Assets</div><br>
            <div ng-click="mainCtrl.go('search')" class="items">Search</div><br>
			<div ng-click="mainCtrl.go('goods')" class="items">Resources</div>	
			<hr>
			
            <div ng-click="mainCtrl.go('projects')" class="items">Projects</div><br>
            <div ng-click="mainCtrl.go('departments')" class="items">Departments</div><br>
            <div ng-click="mainCtrl.go('employees')" class="items">Employees</div>
			<hr>
			
            <div ng-click="mainCtrl.go('outputs')" class="items">Outputs</div><br>
            <div ng-click="mainCtrl.go('inputs')" class="items">Inputs</div><br>
           <div ng-click="mainCtrl.go('config')" class="items">Configurations</div>
			<hr>
					
            <div ng-click="mainCtrl.go('users')" class="items">Users</div><br>
            <div ng-click="mainCtrl.go('audit')" class="items">Audit</div><br>
            <div ng-click="mainCtrl.go('login')" class="items">Logout</div>
--> 			
            <hr>
		</div>
    </div>
</center>